# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Build folders
build/
dist/

# Node modules
node_modules/

# Environment files
.env

# IDE Files

## STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ
.idea/
*.iws
*.iml
*.ipr

## VS Code
.vscode/

## NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/